<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

<!--        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>	&lt;!&ndash; com.mysql.jdbc.Driver (без .cj.) устарел &ndash;&gt;-->
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
<!--        <property name="connection.url">jdbc:mysql://localhost:3306/hiber_test</property>	&lt;!&ndash; порт :3306 можно не указывать. &ndash;&gt;-->
<!--        <property name="connection.username">root</property>-->
<!--        <property name="connection.password">1</property>-->

        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:mem:products</property>
        <!-- Кажется, имя базы можно не указывать — писать jdbc:h2:mem: — если к базе гарантировано будет открыто только одно соединение с БД. Подробности: http://www.h2database.com/html/features.html
        ;IGNORECASE=TRUE -->
        <property name="connection.username">sa</property>
        <property name="connection.password">1</property>

        <property name="connection.pool_size">8</property>	<!-- ?количество параллельных соединений? -->
        <property name="show_sql">true</property>			<!-- логирование запросов в консоль -->
        <property name="current_session_context_class">thread</property>	<!-- ?привяка сессии к потоку? -->

<!--	<property name="hibernate.hbm2ddl.auto">none</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		Полная очистка схемы и создание ее по разметке Hibernate

		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		Полная очистка схемы и создание ее по разметке Hibernate. После закрытия Factory выполняется DROP.	Используется файл import.sql.

		<property name="hibernate.hbm2ddl.auto">update</property>
		Обновляет структуру схемы. Применять надо очень осторожно, если вообще стоит это делать.

		<property name="hibernate.hbm2ddl.auto">validate</property>
		Не подходит для jdbc:h2:mem:, т.к. таблица отсутствует в памяти на момент проверки. Выполняет проверку схемы и не вносит в ене никаких изменений.

		hibernate.hbm2ddl.auto - Авто экспорт/обновление схемы
		import.sql работает при create/create-drop
-->


        <mapping class="com.geekbrains.webapp.springlesson3mvc.model.Product"/>		<!-- тип объекта, который будет CRUD при пом. hibernate (по одной строчке для каждого класса) -->

    </session-factory>

</hibernate-configuration>

<!--	hibernate.cfg.xml
 Таких файлов конфигурации в проекте может быть множество. Они … -->