<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${'Товар: '+ product.title + ', ' + product.measure}"></title>

<!-- Эти ссылки подключают библиотеку стилей из https://getbootstrap.com/docs. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body marginwidth="100" style="font-size: 20pt">

	<div class="container">

		<br>
		<h1 style="color: navy;" th:text="${'Информация о продукте: '+ product.title + ', ' + product.measure}"></h1>
		<br>

		<h3 th:text="${'id:	' + product.id}"></h3>
		<h3 th:text="${'название: '+ product.title}"></h3>
		<h3 th:text="${'единицы: '+ product.measure}"></h3>
		<h3 th:text="${'цена: '+ product.cost}"></h3>

		<br>
		<a th:href="@{'/showallproducts'}" class="btn btn-primary">&lt;&nbsp;К списку всех продуктов</a>

	</div>

</body>
</html>